@{
    ViewData["Title"] = "Početna stranica - ";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    <h4 clas="display-5">Ovo je početna stranica web aplikacije Adresar</h4>
    <p>Aplikacija omogućuje unos novih osoba i prikaz svih unesenih osoba u bazi podataka. U prikazu se može urediti podaci odabrane osobe
        može se kliknuti na dva gumba koja omogućuju spremanje novih podataka ili brisanje osobe.</p>
    
</div>
